/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100%;
  height: 100%;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  background-color: #94c11f;
  .container {
    justify-content: space-around;
    .row-flex {
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      .right-head {
        .language {
          display: flex;
          align-items: center;
          p{
            @include fontStyle('Open Sans', 1.4rem, #ffffff, 300);
            margin-right: 8px;
          }
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            border: 1px solid #ffffff;
            border-radius: 3px;
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 7px;
            @include fontStyle('Open Sans', 1.2rem, #ffffff, 300)
          }
          a.active, a:focus, a:hover {
            background-color: #ffffff;
            color: #94c11f;
            transition: .2s;
          }
        }
      }
    }
  }
}

main {
  flex-grow: 1;
}

.container {
  min-width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
}

.row-flex {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.half {
  flex-basis: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-height {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.form-element {
  background-color: #ffffff;
  height: 46px;
  border: 2px solid #e1e1e1;
  border-radius: 5px;
  padding: 0 15px;
  @include fontStyle('Montserrat', 1.6rem, #656565, 300);
}

.green-btn {
  background-color: #94c11f;
  border-radius: 5px;
  border: none;
  @include fontStyle('Montserrat', 1.8rem, #ffffff, 400)
}

.green-btn:hover {
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}


.app-filter{
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    padding: 8px 0;
    @include fontStyle('Montserrat', 2rem, #000, 300);
}
.active {
  background-color: #ffffff;
  color: #94c11f;
  transition: .2s;
}

.row-flex{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

.col{
    padding-left: 15px;
    padding-right: 15px;
}

.half{
    flex-basis: 50%;
}

.radio-btns{
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 3px;

  input[type="radio"]{
    display: none;

    &:checked{
      & + label{
        background-color: #94c11f;
        color: #fff;
      }
    }
  }

  .radio{
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 40px;
      height: 32px;
      cursor: pointer;

      label{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: linear .2s all;

        &:hover{
          background-color: #94c11f;
          color: #fff;
        }
      }

      &:not(:last-child){
        border-right: 1px solid #cccccc;
      }
    }
}

.green{
    color: $color-green;
}

.dropdown{
    width: 275px;
    line-height: 20px;

    .sections{
      .section{
        padding-bottom: 20px;

        .section-header{
          margin-bottom: 20px;
        }
        
        .checker + .checker{
          margin-left: 27px;
        }

        &:not(:last-child){
          border-bottom: 1px solid #e1e1e1;
          margin-bottom: 15px;
        }
      }
    }
}

.checker{
  display: inline-block;

  input[type="checkbox"]{
    display: none;

    & + label{
      span{
        display: inline-block;
        background: url('../images/icons/checkers.png') no-repeat 0 0px;
        width: 18px;
        height: 18px;
        vertical-align: sub;
      }
    }

    &:checked{
       & + label > span{
         background: url('../images/icons/checkers.png') no-repeat 0 -18px;
       }
    }
  }
}


.custom-info{
    @include fontStyle('Montserrat', 1.4rem, #3b3b3a, 400);

    img{
        width: 100%;
        height: 130px;
    }

    .item-info{
        &>*{
            margin-top: 15px;
        }

        span:not(:last-child){
            margin-right: 13px;
        }

        .address{
            color: #a9a9a9;
        }
    }
}




/* icons  start */
.ico{
    display: inline-block;
}

.room-ico{
    padding-left: 25px;
    background: url('../images/icons/bed.png') no-repeat 0px 1px;
}

.bath-ico{
    padding-left: 25px;
    background: url('../images/icons/bath.png') no-repeat 0px 3px;
}
/* icons  end */

