/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
header,
section,
footer {
}

/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/


/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {

}

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
