/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
header,
section,
footer {
}

/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
header {
    
}

/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {
  
}

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
