/*---- modal window for previewing a big house pic--- ------*/

.remodal-wrapper.remodal-is-opened {
  text-align: left;
  width: 100%;
}
.remodal {
  padding: 0 !important;
  background-color: transparent!important;
}

button.remodal-close {
  color: #FFFFFF;
  right: 10px;
  top: 10px;
  left: auto;
}
button.remodal-close:hover {
  color: #FFFFFF;
}
button:before {
  font-size: 3rem!important;
}
.remodal {
  img {
    width: 100%;
  }
}


@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 100%!important;
  }
}


/*---- end the -- modal window for previewing a big house pic--- ------*/

input.search{
  @include fontStyle('Montserrat', 1.4rem, #656565, 400);

  border: 2px solid #d7d7d7;
  border-radius: 3px;
  padding-left: 45px;
  padding-right: 25px;
  height: 42px;
  outline: none;
  background: url('../images/search.png') no-repeat 10px center;
}



.silver-title {
  @include fontStyle('Montserrat', 2.2rem, #aeaeae, 300);
  margin-bottom: 25px;
}

.silver-block {
  width: 250px;
  background-color: #f4f3f3;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 20px 0 20px 25px;

  ul {
    line-height: 1.7;
      li {
        @include fontStyle('Montserrat', 1.6rem, #3b3b3a, 400);
      }
  }

}

.item-article p {
  @include fontStyle('Montserrat', 1.4rem, #3b3b3a, 300);
  max-width: 950px;
  line-height: 1.6;
}


.item-article {
   margin-left: 30px;
}

.item-article a.green{
  text-decoration: none;
  @include fontStyle('Montserrat', 1.4rem, #94c11f, 300);
}



.house-review {
  overflow: hidden;
  position: relative;
  height: 555px;
  max-width: 100%;


  .custom-carousel {

    .owl-theme {
      .owl-nav {
        /*default owl-theme theme reset .disabled:hover links */
        [class*='owl-'] {
          transition: all .3s ease;
          &.disabled:hover {
            background-color: #D6D6D6;
          }
        }

      }
    }

    //arrows on first carousel
    #sync1.owl-theme {
      position: absolute;
      z-index: 6;
      .owl-nav {
        display: none;
      }
      .owl-dots {
        display: none;
      }
      .owl-item.active {
              .item {
                    img {
                        transition: 2s;
                    }
                    img:hover {
                          transform: scale(1.05);
                          transition: 7s;
                    }
              }
        }
    }

    .container {

      .carousel_wrapper {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 30px;
      }
    }

    .plus_size {
      display: inline-block;
      position: relative;
      z-index: 10;
      margin-right: 10px;
      border-radius: 3px;
      background-color: rgba(148, 193, 31, 0.8);
      padding: 5px;
      transform: scale(1);
    }
    .plus_size:hover img {
      transform: scale(1.05);
    }

    #sync2 {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      z-index: 8;
      position: absolute;
      bottom: 30px;

      .owl-stage-outer {

        .owl-stage {
          max-width: 200px;

          .owl-item {
            width: 88px !important;
            height: 88px;
            overflow: hidden;
            border-radius: 3px;

            .item {
              border: 2px solid #ffffff;
              border-radius: 3px;
              overflow: hidden;
            }

            .item:hover {
              cursor: pointer;
            }
          }

          .owl-item:not(.current){
              .item{
                background-color: #2b2b2b;
                img {
                    opacity: 0.3;
                    transition: 0.5s;
                }
                img:hover {
                    cursor: default;
                    pointer-events: none;
                }
              }
          }

          .owl-item:not(:last-child) {
            margin-right: 20px;

          }
        }
      }
    }

  }

}
.house-detail-page {
  margin-top: 45px;
  margin-bottom: 125px;
}
.main-content {
      display: flex;
      justify-content: space-between;

      .name_price  {
            span {
                font-size: 2.6rem;
                font-family: "Montserrat", Arial, Helvetica, sans-serif;
                font-weight: 600;
            }
            span:first-child {
                color: #aeaeae;
              font-weight: 400;
            }
            p {
                font-size: 3rem;
                color: #40403f;
                font-family: "Montserrat", Arial, Helvetica, sans-serif;
                margin-top: 20px;
            }
      }
      .prev_info {
          span {
                font-size: 2rem;
                font-family: "Montserrat", Arial, Helvetica, sans-serif;
          }
          .room-ico {
            background-image: url("../images/icons/big_bed.png");
          }
          .bath-ico{
            background-image: url("../images/icons/big_res.png");
          }

          .ico {
              width: 33px;
              height: 20px;
              background-size: contain;
              margin-right: 30px;
              padding-left: 40px;
              background-position: 0, 0;
          }
      }
}

.item-area{
  margin-bottom: 55px;

  .title{
    margin-bottom: 30px;

    h3{
      @include fontStyle('Montserrat', 2.6rem, #3b3b3a, 400);
      color: #3b3b3a;
      font-size: 2.6rem;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;

    }
  }

  .moregage {
      min-width: 100%;
      display: flex;
      margin-bottom: 60px;

      ul {
        max-width: 90%;
        border-right: 1px solid #cccccc;
          li {
              @include fontStyle('Montserrat', 2.6rem, #3b3b3a, 300);
              span.green {
                  font-weight: 600;
              }
          }
      }

    .filter-moregage {
        > ul {
          border:none;
            li {
              input {
                  padding: 0 15px;
                  border: 2px solid #d7d7d7;
                  @include fontStyle('Montserrat', 1.4rem, #656565, 300);
                  border-radius: 5px;
                  min-height: 100%;
                  min-width: 70%;
              }
              input:focus {
                  outline: none;
              }
              .nice-select {
                min-width: 70%;
                @include fontStyle('Montserrat', 1.4rem, #656565, 300);

                  ul.list {
                    min-width: 100%;
                    li {
                        font-size: 1.4rem;
                    }
                }
              }
            }
            >li:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
  }

  .distance-info{
    display: flex;
    align-items: center;
    @include fontStyle('Montserrat', 1.8rem, #656565, 300);

    .divider{
      width: 1px;
      height: 35px;
      margin-left: 30px;
      margin-right: 30px;
      background-color: #cccccc;
    }
  }

  .destination-form{
    margin-bottom: 30px;
    display: flex;

    button.green-btn{
      height: 42px;
      margin-right: 50px;
      width: 85px;
      font-size: 14px;
    }

    form{
      display: flex;
    }

    input.search{
      width: 620px;
      margin-right: 10px;
    }
  }

  .seller-form {
    justify-content: space-between;

    .seller-info {
      display: flex;
      ul {
        min-width: 240px;
        line-height: 2;
        li {
          span {
            @include fontStyle('Montserrat', 1.6rem, #3b3b3a, 300);
          }
          span:last-child {
            align-self: flex-end;
          }

        }
      }
      ul:last-child {
        margin-left: 65px;
      }
    }

    .silver-block {
      width: 630px;
      height: 260px;
      padding: 15px;

        input {
          padding: 0 15px;
          border: 2px solid #d7d7d7;
          @include fontStyle('Montserrat', 1.4rem, #656565, 300);
          border-radius: 5px;
          height: 40px;
          width: 100%;
          margin-bottom: 20px;
        }
        input:focus {
            outline: none;
        }
        textarea {
            width: 375px;
            height: 160px;
            border: 2px solid #d7d7d7;
            @include fontStyle('Montserrat', 1.4rem, #656565, 300);
            border-radius: 5px;
            padding: 10px 15px;
            resize: none;
        }
        textarea:focus {
            outline: none;
        }
      .submit-data {
        display: flex;
        padding: 0 15px;
        justify-content: flex-end;

          button {
            height: 43px;
            width: 94px;
            font-size: 14px;
          }
      }
    }

  }




}
